# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
*.egg-info/

# Data files (upload separately to FAUbox/Drive)
data/

# DB is committed to repo root (required by professor)
# 23455702-seeding.db  ← DO NOT ignore this

# Exports (optional)
export_output/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
